/* Gray background for the whole page */
body {
  margin: 0;
  padding: 0;
  background-color: #F4F7FA; /* light gray */
}

/* Rectangle container */
.rectangle {
  width: 1000px;
  height: 350px;
  border: 10px #D9E6F3;;
  border-color: #D9E6F3;
  background-color:#FFFFFF; 
  margin: 80px auto; /* centers it on the page */
  position: relative;
  border-radius: 20px;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(30, 58, 95, 0.05);
  

  
}

/* Blue header section */
.header {
  width: 100%;
  height: 70px; /* adjust height as you like */
  background-color:   #D7E5F3;
  border-collapse: collapse;
  border-radius: 5px;
  font-family: fantasy;
  font-size: large;
  font-weight: bold;
  color: #243447;
  box-shadow: 0 2px 8px rgba(30, 58, 95, 0.05);
  text-align: center; /* Centers horizontally */
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally again, safer */
}

.Event-Na{
  position: absolute;
  left: 50px;
  
  
}

.Event-icon{
  margin:  10px;
  color: #5C7EA6;
  height: 24px;
  width: 24px;
  text-align: center; /* Centers horizontally */
  display: flex;
  align-items: center; /* Centers vertically */
  justify-content: center; /* Centers horizontally again, safer */
  
}






.Event-info-0{
 
  display: flex ;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 20px;
  color: #243447;
  font-size: 10px;
  font-family: fantasy;


}
